@page
@model AboutModel
@{
    ViewData["Title"] = "Обо мне";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    
    <br />
    <table>
        <tr>
            <td>
                <img src="image\ОбоМне.png">
            </td>
            <td>
                <div class="text-center">
                    <h3>Белевич Ярослав Витальевич</h3>
                    <h3>Студент 3-его курса техникума, специальность - информационные системы по отраслям</h3>
                    <h3>Изучаю конфигуратор 1С,а также практикуюсь в C#, знаю на базовом уровне Python, также HTML и CSS.</h3>
                </div>
            </td>
        </tr>
    </table>
</div>
