@page
@model AchivementsModel
@{
    ViewData["Title"] = "Достижения";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">

    <br />
    <table>
        <tr>
            <td>
                <img src="image\Achivements.png">
            </td>
            <td>
                <div class="text-center">
                    <p>За весь период обучения я многому научился. Начиная навыков программирования в своей профессиональной деятельностИ, заканчивая интересом в сфере социальных и волонтёрских мероприятиятиях</p>
                    
                </div>
            </td>
                <tr>
                    <td>
                        <img src="image\Дипломы\XItRSNbMIAM.jpg"
                             HEIGHT="470"
                             WEDHT="670">
                    </td>
                                  
                    <td>
                        <font color="#ffffff">
                            <h1 class="display-4">...........</h1>
                        </font>
                    </td>
                    <td>
                <img src="image\Дипломы\-AVXNe4VfNo.jpg"
                             HEIGHT="470"
                             WEDHT="670">
                    </td>
                    <td>
                        <font color="#ffffff">
                            <h1 class="display-4">...........</h1>
                        </font>
                    </td>
                    <td>
                <img src="image\Дипломы\D88LCqPZ14E.jpg"
                             HEIGHT="470"
                             WEDHT="670">
                    </td>
                </tr>
    </table>
</div>

