@page
@model IndexModel
@{
    ViewData["Title"] = "porfolioBel";
}
<body background="image\gaf2.png" style="color: #ffffff">
    <div class="text-center">
        <h1 class="display-4"><b>Сайт-портфолио студента группы ИС9-7 Белевича Ярослава</b></h1>
        <br>
        <br/>
        <h4>Получаю образование в <a href="https://sevtet.ru/">ГБОУПО "СТЭТ"</a></h4>
    </div>
</body>

<style>
    .footer {
        height: 65px;
        background: #ffffff;
    }
</style>


