@page
@model IndexModel
@{
    ViewData["Title"] = "porfolioBel";
}

<div class="text-center">
    <h1 class="display-4">hello GitHub</h1>
    <p>Learn about <a href="https://sevtet.ru/">Ссылка на ресурс</a>.</p>
</div>
